<!DOCTYPE html>
<html>
  <body>
    <h1>Today</h1>
    <% T = Time.now 
       dotw = T.strftime 
       month = T.month
       day = T.day
       year = T.year
       
       today = "The date is"
  </body>
</html>